/* Global */
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'cabin';
}

/* Header */
.sectionParallaxStyle {
  background-color: white;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
}

#scrollHeader {
  height: 100vh;
  width: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  background-position: bottom;
}

.title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 50px;
  color: #000;
}

.subtitle {
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #000;
  font-family: 'cabin';
  font-size: 30px;
  padding-top: 150px;
}

@media only screen and (max-width: 768px) {
  .title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 47px;
    color: #000;
  }
}

@media only screen and (max-width: 768px) {
  .subtitle {
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: #000;
    font-family: 'cabin';
    font-size: 25px;
    padding-top: 100px;
  }
}

/* Homepage */
.img-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 400px;
}

.img-box .img {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 100%;
  height: 400px;
  background-image: url("./images/benefitsHomepage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-box:hover .img {
  opacity: 0.3;
  background: rgba(153, 102, 51, 0.3);
}

.img-box .img a {
  text-decoration: none;
  color: white;
  opacity: 1;
}

#root > div > div > div:nth-child(2) > section > div > div:nth-child(1) > a {
  text-decoration: none;
  color: white;  
  font-weight: 700;
  font-size: 30px;
}

#root > div > div > div:nth-child(2) > section > div > div:nth-child(2) > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.sectionStyle .row {
  margin: 0;
  padding: 0;
}

hr.sep {
  width: 15%;
  display: block;
  margin: 1em auto;
  border: 1px solid #c5a47e;
}

.sectionStyle {
  background-color: white;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 2300px;
  box-sizing: border-box;
}

.visibleText:hover {
  background-color: black;
}

.homeGrid {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 400px;
}

.visibleText {
  color: white;
  background: rgba(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  float: left;
  font-size: 40px;
  padding-left: 6px;
  padding-right: 6px;
}

/* Footer */
footer {
  position: fixed;
  background-color: black;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.footerButton {
  background-color: black;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 50px;
  width: 300px;
}

.footerButton:hover {
  background-color: #404040;
}

footer > div > div:nth-child(n) > h2 > button > a {
  text-decoration: none;
  color: white;
}