/* Global */
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'cabin';
}

.sectionStyle {
  background-color: white;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 800px;
  box-sizing: border-box;
}

.sectionStyle .row {
  margin: 0;
  padding: 0;
}

/* Homepage */
#root > div > div > div:nth-child(2) > section > div > div:nth-child(1) > a {
  text-decoration: none;
  color: white;  
  font-weight: 700;
  font-size: 30px;
}

#root > div > div > div:nth-child(2) > section > div > div:nth-child(2) > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.homeGrid {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 400px;
}
/*background-color: #42a0de;*/

/* Header */
#scrollHeader {
  height: 100vh;
  width: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  background-position: bottom;
}

.title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 50px;
  color: #000;
}

.subtitle {
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  color: #000;
  font-family: 'cabin';
  font-size: 30px;
  padding-top: 50px;
}

/* Footer */
footer {
  position: fixed;
  background-color: black;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.footerButton {
  background-color: black;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 50px;
  width: 300px;
}

.footerButton:hover {
  background-color: #404040;
}

footer > div > div:nth-child(n) > h2 > button > a {
  text-decoration: none;
  color: white;
}